<form id="formulario"> 
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" style="background-color:rgb(215, 223, 208);">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nome do Jogo</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" style="background-color:rgb(215, 223, 208);">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tipo</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" style="background-color:rgb(215, 223, 208);">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Empresa Desenvolvedora</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" style="background-color:rgb(215, 223, 208);">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10" style="margin-top: 10px;">
          <button class="btn btn-outline-dark" onclick= "alert( 'Voce clicou EXIBIR' )" style= margin-right:10px >Exibir</button>
          <button class="btn btn-outline-dark" onclick= "alert( 'Voce clicou em CADASTRAR' )" style= margin-right:10px >Cadastrar</button>
          <button class="btn btn-outline-dark" onclick= "alert( 'Voce clicou em ATUALIZAR' )" style= margin-right:10px >Atualizar</button>
          <button class="btn btn-outline-dark" onclick= "alert( 'Voce clicou em APAGAR' )" style= margin-right:10px >Apagar</button>
        </div>
      </div>
    </form>
    